Emacs.useXIM: false

!!==============================================================================
!! global minor-mode
!!==============================================================================
!! tool-bar  (default on)
Emacs.toolBar: off

!! menu-bar-mode (default on)
!! 端末の場合 <F10> で menu 操作可能
!! Emacs.menuBar: off

!! cursor点滅表示 (default on)
!! Emacs.cursorBlink: off

!!==============================================================================
!! common-misc
!!==============================================================================
!! font
!! Ricty Diminished Discord
Emacs.Fontset-0:-*-Ricty Diminished Discord-bold-r-normal--14-*-*-*-m-*-fontset-Ricty,\
        unicode:-*-*-*-*-*-*-*-*-*-*-*-*-*-*

Emacs.Font: fontset-Ricty

!! VL Gothic
! Emacs.Fontset-0:-*-VL Gothic-medium-r-normal--12-*-*-*-m-*-fontset-VL_Gothic,\
!         unicode:-*-*-*-*-*-*-*-*-*-*-*-*-*-*

! Emacs.Font: fontset-VL_Gothic

!! windowの幅と高さ
Emacs.Geometry: 100x28

!! 透過度
! Emacs.Alpha: 85

!! 行間 (default nil)
Emacs.LineSpacing: 0

!! 左右フリンジ
Emacs.LeftFringe: 0
Emacs.RightFringe: 0
