!! xrdb .Xresources

Emacs.useXIM: false

!!==============================================================================
!! global minor-mode
!!==============================================================================
!! tool-bar  (default on)
Emacs.toolBar: off

!! menu-bar-mode (default on)
!! 端末の場合 <F10> で menu 操作可能
!! Emacs.menuBar: off

!! cursor点滅表示 (default on)
!! Emacs.cursorBlink: off

!!==============================================================================
!! common-misc
!!==============================================================================
!! font
!! XLFD
!! https://wiki.archlinux.jp/index.php/X_Logical_Font_Description
!! https://qiita.com/j8takagi/items/01aecdd28f87cdd3cd2c
!! -maker-family-weight-slant-widthtype-style-px-height-resX-resY-spacing-width-registry-encoding

!! Ricty Diminished Discord
Emacs.Fontset-0:-PfEd-Ricty Diminished Discord-bold-normal-normal--14-*-*-*-m-0-fontset-myricty
Emacs.Font: fontset-myricty

!! windowの幅と高さ
Emacs.Geometry: 100x28

!! 透過度
Emacs.Alpha: 85

!! 行間 (default nil)
Emacs.LineSpacing: 0

!! 左右フリンジ
Emacs.LeftFringe: 0
Emacs.RightFringe: 0
