/*/
!site-lisp/
site-lisp/extra_modules
!registry/
!auto-insert/
!test/
*.*
!*.el
!byte-compile.sh
!emacs_settings.reg
!remove_emacs_settings.reg
!.Xresources
!template.*
-shell_env-.el
-custom-settings-.el
!sendesc.js
recentf
tramp
*rc
