/*/
!site-lisp/
site-lisp/extra_modules
!registry/
!auto-insert/
*.*
!*.el
!byte-compile.sh
!.Xresources
!*.reg
!template.*
package-quickstart.el
my-custom-file.el
srecode-map.el
!sendesc.js
recentf
tramp
*rc
